<%- include('partials/header.ejs') %>

    
        <form action="/searchweather" method="post">
            <input type="text" name="q" placeholder="City" id="searchfield">
        </form>

    <% if (locals.content) { %>
        <article>
            <% let dateNow = new Date() %>
            <p> <%= dateNow %> </p>
            <h2> <%= content.name %>  </h2>
            <img src="<%= weatherIcon %>" alt="weatherIcon">
            <p> <%= main.temp %> °C, <%= weatherDescription.description %> </p>
            <p> gefühlte Temperatur: <%= main.feels_like %> °C </p>
            <p> min. / max. Temperatur : <%= main.temp_min %> / <%= main.temp_max %> </p>
            <p> Luftfeuchtigkeit: <%= main.humidity %> % </p>
            <p> Windgeschwindigkeit: <%= wind.speed %> km/h </p>

        </article>
    <% } %>
        


<%- include('partials/footer.ejs') %>